body {
  background-color: grey;
  text-align: center;
}

#rects {
  height: 150px;
}

.rect {
  
}

.buttons {
  padding: 8px;
  font-size: large;
}

.buttons:hover {
  cursor: pointer;
  background-color: gainsboro;
}