body {
  background-color: #1a1919;
  text-align: center;
}

.buttons {
  padding: 5px;
  width: 80px;
}

.svg_stroke {
  width: 10px;
  height: 600px;
  display: inline-block;
  transform: scaleY(-1);
}

.rect_stroke {
  fill:rgb(255,255,255);
  stroke-width:1;
  stroke:rgb(0,0,0);
}

.buttons:hover {
  cursor: pointer;
  background-color: gainsboro;
}

#userInputs {
  position: absolute;
  right: 0px;
  width: 200px;
  top: 0px;
  height: 100%;
  background-color: darkgrey;
}

#rects {
  position: absolute;
  bottom: 3px;
}